{% extends "base.html" %} {% block title %} About me{% endblock %} {% set
about_me = { 'page_title': 'About Me',default 'image_src': url_for('static',
filename='images/q2.jpg'), 'main_title': 'About', 'content_dict': { 'name':
'Sabetskyiii', 'Address': 'USA (France)', } } %} {% block body %}

<style>
  .custom-container {
    padding: 20px;
  }
</style>

<div>
  <div>
    <div style="margin-left: 5%">
      <h1 style="color: #8600c4">{{ about_me.main_title }}</h1>
      <img
        src="{{ url_for('static', filename='images/q2.jpg') }}"
        alt="asdfasdfsdf"
        style="border-radius: 20px; border: 5px solid #8600c4"
      />
      {% for subtitle, content in about_me.content_dict.items() %}
      <h4 style="margin-bottom: 0; color: #8600c4">{{ subtitle }}</h4>
      <p style="color: #ffa">{{ content }}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
