<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">

    <title>{% block title %}base{% endblock %}</title>
</head>
<body>
    
    <header>
        <div class="pages"><h1><a href="{{ url_for('page1') }}">undefined</a></h1></div>
        <div class="pages"><h1><a href="/skills/2">skills id: 2</a></h1></div>
        <div class="pages"><h1><a href="/skills/3">skills id: 3</a></h1></div>
    </header>

    <main>
        {% if skill %}
        <h2>Моя навичка:</h2>
        <p>{{ skill }}</p>
        {% endif %}

        {% if skills %}
        <h2>Мої навички:</h2>
        <ul>
            {% for skill in skills %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <p>Загальна кількість навичок: {{ total_skills }}</p>
        {% endif %}
    </main>

    <footer> &copy; {{ current_time }} | OS: {{ os_info.system }} | User Agent: {{ user_agent }}</footer>

    <script src="../static/js/app.js"></script>

</body>
</html>